html,
body {
  height: 100%;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

body {
    padding-top: 5rem;
    min-height: 100vh;
    color: #fff;
}

@media (min-width: 768px) {
    .navbar-collapse.abs {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

.container {
  width: auto;
  padding: 0 15px;
}

main {
    width: auto;
}

.position-center{
    margin-inline: 25% 25%;
}

.custom-margin {
  margin-left: 20px;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
  padding: .75rem 1.25rem;
  font-weight: 700;
}